---
layout: page
title: AMIS Dex Exchange
subtitle: The official exchange for trading the AMIS token
use-site-title: true
---

<p>The AMIS Dex exchange platform runs entirely on the blockchain, which means:
<ul>
  <li>no limits, no sign-up, no waiting for support to verify you;</li>
  <li>it cannot be shutdown - not even by its creators;</li>
  <li>you don’t need to trust anyone to look after your coins.</li>
</ul>
We also offer low fees and a rich trading experience.
</p>
<p>
  AMIS DEX aims to be the leading decentralized exchange for trading AMIS along with other Ethereum assets, it features an on-chain orderbook built-in with order matching engine.
</p>
<h2>Try it now</h2>
<p>
  Latest AMIS (AMIS) - USD Historical Price Chart
</p>
<img src="https://cryptohistory.org/charts/candlestick/amis-usd/24h/svg" alt="AMIS/USD 24h chart" style="vertical-align: bottom;">
<p>
24 hours AMIS price candlesticks in USD (source CryptoCompare)
</p>
<p>
  AMIS DEX Exchange is beta live <a href="https://amis-erc20.github.io/amisdex/products/">first products</a>
  <!-- - start trading tokens such as
  <a href="https://amis-erc20.github.io/exchange/?pairId=AMIS-ETH">AMIS</a>
  and <a href="https://amis-erc20.github.io/exchange/?pairId=SALT-ETH">SALT</a> !
  -->
</p>
<p>
  AMIS DEX Exchange future cross-pairs offers will listed here: <a href="https://amisdex.amisolution.net/products.old/">Main product portfolio</a>
</p>

<p>
  If you don't have an Ethereum account, you could try out our
  <a href="https://amisdex.amisolution.net/exchange/?pairId=DEMO-ETH">AMIS DEX Demo Exchange with built-in matching engine</a> -
  it's a simulation running in your browser.
  To make it more exciting, there's some simulated trading bots too - can you beat them?
</p>
<p>
  If you have an Ethereum account with Metamask, switch your account to Ropsten and try out 
  <a href="https://amisdex.amisolution.net/exchange/?pairId=AMISTEST1-ETH">AMIS DEX Exchange on Ropsten with built-in matching engine</a> -
  It's using the Ropsten Ethereum network.
</p>
<p>
  When you feel comfortable switch to our production environment,  try it out and let us know your feedback. 
  <a href="https://amisdex.amisolution.net/exchange/?pairId=AMIS-ETH">AMIS DEX Exchange on mainnet with built-in matching engine</a> -
  It's using the main Ethereum network.
</p>

<!--
<p>
  We also have some Screencasts in <a href="https://amis-erc20.github.io/help/depositing-ether-and-buying-tokens-using-metamask/">our tutorial</a>,
  as well as a
  <a href="https://amis-erc20.github.io/exchange/?pairId=TESTR-ETH">"play-money" book on the "Ropsten" Ethereum Testnet</a>,
  and also on the (faster) <a href="https://amis-erc20.github.io/exchange/?pairId=TESTI-ETH">"Rinkeby" Ethereum Testnet</a>.
</p>-->
<h2>Where can I trade AMIS ? What are the best Exchanges ? Is there a list or an index of dex ?</h2>
<p>The list of exchanges for AMIS Coins/tokens can be found HERE:  
</p>
<p>Examples of exchanges we think are interesting include:
    <a href="https://etherdelta.com/#0x949bed886c739f1a3273629b3320db0c5024c719-ETH">Etherdelta</a>
    <a href="https://token.store/trade/0x949bed886c739f1a3273629b3320db0c5024c719">Token Store</a>
    <a href="https://tokenjar.io/amis">Token Jar</a> 
    <a href="https://bamboorelay.com/trade/AMIS-WETH">Bamboo Relay</a> 
    <a href="https://cryptoderivatives.market/token/AMIS">crypto derivatives</a> 
</p>
   Visit AMIS's index of popular dex entitled <a href="https://github.com/amisolution/ERC20-AMIS/wiki/Get-AMIS"> INDEX OF DEX </a>HERE. . <!--See <a href="products/">our list of products</a>.--></p>

<h2>What can I trade on AMIS Exchange?</h2>
<p>Coins/tokens based on Ethereum (such as ERC20 tokens) can be traded,
   either against Ethereum or against other tokens know as cross pair trading. <!--See <a href="products/">our list of products</a>.--></p>

<p>And of course, you will be able to trade <a href="https://github.com/amisolution/ERC20-AMIS" target="_blank">The AMIS Token</a> as well.</a>


<p>Examples of tokens we think are interesting include:
    <a href="https://augur.net/">REP (Augur)</a> (prediction markets),
    <a href="https://0xproject.com/">0x</a> (trading),
    <a href="https://basicattentiontoken.org/">BAT</a> (advertising),
    <a href="https://district0x.io/">district0x</a> (virtual communities), and
    <a href="https://omg.omise.co/">OMG</a> (banking)
</p>

<p>
    <a href="/help/listing-a-token/">Contact us if you'd like a particular token listed</a>.
</p>

<h2>How does AMIS Exchange compare to other decentralized exchanges?</h2>

<p>
  When we looked around, we found that other decentralized exchanges tended to compromise.
  Often they use an off-chain matching engine (meaning they are still vulnerable to downtime and hacking),
  and often they offer a much poorer trading experience than a traditional exchange.
</p>

<p>We were determined to offer a full limit order book with automatic best execution running entirely on-chain -
   and thanks to our unique order book representation we succeeded,
   meeting our five goals:</p>

<ul>
  <li>no off-chain matching engine so no servers to shut down or be hacked;</li>
  <li>a <a href="trading-rules">full limit order book</a>, giving clients the best possible price and the trading features you expect;</li>
  <li>clients don’t need to install any special P2P software;</li>
  <li>low fees (none for makers, 0.2% for takers);</li>
  <li>open platform - rather than just being an exchange we want to grow an ecosystem of smart contracts trading with each other.</li>
</ul>

<p>Read more about this topic in our blog post: <a href="/2019-03-22-2017-10-21-how-amisdex-compares-other-exchanges/">How AMIS Exchange compares to other exchanges</a>.

<h2>Press, News and partners?</h2>
<p>We invite you to take a look at some of the best sites promoting AMIS project</p>

         <div class="col-md-2 col-sm-4 col-xs-4 ">
            <a href="https://coinmarketcap.com/currencies/amis/" target="_blank">
              <img class="pic1 height-pic-above" src="https://s2.coinmarketcap.com/static/cloud/img/coinmarketcap_1.svg">
            </a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-4 ">
            <a href="https://www.cryptocompare.com/coins/amis/" target="_blank">
              <img class="pic1 height-pic-above" src="https://s.yimg.com/uc/finance/dd-site/img/CryptoCompareLogo.svg">
            </a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-4 ">
            <a href="https://cryptoslate.com/coins/amis/" target="_blank">
              <img class="pic1" src="https://www.nxter.org/wp-content/uploads/2018/04/cryptoslate2.jpg">
            </a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-4 ">
            <a href="https://thecoinoffering.com/crypto/amis/" target="_blank">
              <img class="pic1" src="https://thecoinoffering.com/wp-content/themes/coin/favicon-32x32.png">
            </a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-4 ">
            <a href="https://coinhack.jp/cryptocurrencies/amis" target="_blank">
              <img class="pic1" src="https://coinhack.jp/assets/logo/logo-f8f6b062310611cd16bab7ff801c9baf3168a36ccd453a2ef23370586ad6bf3d.png">
            </a>
          </div>
          <div  class="col-md-2 col-sm-4 col-xs-4">
            <a href="https://coinclarity.com/coin/amis/" target="_blank">
              <img class="pic1" src="https://lh3.googleusercontent.com/LB9Laz8mQJVSI60uyf7SWGp3-pDXZXDC26qUk7klzBN4OkRI9NVQFNPxH-uCPEwLp2m4iA=s170">
            </a>
          </div>
          <div  class="col-md-2 col-sm-4 col-xs-4">
            <a href="https://www.cryptoground.com/amis" target="_blank">
              <img class="pic1" src="https://www.cryptoground.com/images/logo_new.svg">
            </a>
          </div>
          <div  class="col-md-2 col-sm-4 col-xs-4">
            <a href="https://cryptotab.live/coin/AMIS" target="_blank">
              <img class="pic1" src="https://cryptotab.live/assets/images/altcoins.jpg">
            </a>
          </div>
          <div  class="col-md-2 col-sm-4 col-xs-4">
            <a href="https://marketcoinprice.com/coin/AMIS" target="_blank">
              <img class="pic1" src="https://marketcoinprice.com/assets/images/lightLogo.jpg">
            </a>
          </div>


<h2>Who’s behind AMIS Exchange?</h2>
<p>In one sense, no-one is - the exchange runs entirely on the Ethereum blockchain, and the open source web UI is statically hosted on github (pending move to Swarm).</p>

<p>AMIS Exchange is being developed by <a href="https://github.com/amisolution">Amisolution</a>.

<p>
  It is a fork of the amazing work done by Kieran Elby, a technologist with a background in algorithmic trading systems.
  He previously spent over a decade building secure, high volume gambling sites for leading bookmakers. He first dabbled in
  bitcoin in 2013 before flipping to Ethereum in 2015.
</p>

<!--<p>We’re interested in growing our team in future - contact <a class="__cf_email__" href="/cdn-cgi/l/email-protection" data-cfemail="a5cad5d5cad7d1d0cbccd1ccc0d6e5d0c7ccd1cace8bccca8b">[email&#160;protected]</a><script data-cfhash='f9e31' type="text/javascript">/* <![CDATA[ */!function(t,e,r,n,c,a,p){try{t=document.currentScript||function(){for(t=document.getElementsByTagName('script'),e=t.length;e--;)if(t[e].getAttribute('data-cfhash'))return t[e]}();if(t&&(c=t.previousSibling)){p=t.parentNode;if(a=c.getAttribute('data-cfemail')){for(e='',r='0x'+a.substr(0,2)|0,n=2;a.length-n;n+=2)e+='%'+('0'+('0x'+a.substr(n,2)^r).toString(16)).slice(-2);p.replaceChild(document.createTextNode(decodeURIComponent(e)),c)}p.removeChild(t)}}catch(u){}}()/* ]]> */</script></p>
-->

<h2 style="clear: both">Are there downsides to being 100% on-chain?</h2>
<p>Yes - transaction times are much slower than a centralised exchange. This is hard to avoid - 1000s of Ethereum nodes worldwide need to agree on the state of the orderbook (without trusting each other). You won’t find High Frequency Traders on AMIS Exchange - not necessarily a bad thing for everyone else! We’ve also had to reduce the number of price levels offered to allow us to perform best execution on-chain - so you’ll see prices like 1.23, not 1.2298502.</p>

<h2>OK, but how do I withdraw cash from AMIS Exchange?</h2>
<p>AMIS Exchange does not interface with the traditional banking system, so if you need cash in your bank account, you’ll need to use a third-party to turn your Ethereum or Ethereum tokens into cash.</p>

<p>Over time, we’re confident that withdrawing to a bank account will become less necessary for many clients as:</p>
<ul>
  <li>more coins and tokens are built on top of Ethereum, so transactions stay on-chain;</li>
  <li>more merchants accept payments in Ethereum or Ethereum-based tokens;</li>
  <li>more companies offer stable Ethereum tokens backed by fiat currency.</li>
</ul>

<p>In particular, we're hoping ERC20 tokens backed by Bitcoin and USD (and other currencies) will become popular - AMIS Exchange will then be able to offer fiat pairs. Do we dare consider making a Balboa pegged digital asset or NZ Dollar backed token? ;)</p>

<h2>What are your fees? How does AMIS Exchange make money?</h2>
<p>Because we’re not dealing with banks, or user sign-ups, or hosting providers, we have much lower costs than traditional exchanges.</p>

<p>We guarantee to:</p>
<ul>
  <li>never charge any fees for depositing or withdrawing Ethereum, or Ethereum-based tokens;</li>
  <li>never charge any trading fees for orders that add liquidity to the exchange (that is, orders that rest on the book);</li>
  <li>never charge a trading fee of more than 0.2% for orders that take liquidity from the exchange (that is, orders that match against an order on the book)</li>
</ul>

<p>In order to avoid relying on trading fees, we hope to offer value-added products and services that build on top of our core exchange - see roadmap below.</p>

<h2>What’s on the AMIS Exchange roadmap?</h2>

<table>
  <thead>
      <th>when</th>
      <th>what</th>
  </thead>
  <tbody>
    <tr>
      <td>completed</td>
      <td>&#x2714; Demo and Testnet (play-money) releases</td>
    </tr>
    <tr>
        <td>completed</td>
        <td>&#x2714; Main-net (real-money) soft-launch<br>(initially needs MetaMask / MyEtherWallet and offers just a few token pairs)</td>
    </tr>
    <tr>
        <td>2018</td>
        <td>Respond to initial feedback, offer more token pairs</td>
    </tr>
    <tr>
        <td>2018</td>
        <td>Ethereum account management - work on any device (including mobile) without needing MetaMask / MyEtherWallet</td>
    </tr>
    <tr>
        <td>Q3 2018</td>
        <td>Javascript APIs for trading on AMIS Exchange - e.g. for market making, borrow/lending/collaterization, arbitrage</td>
    </tr>
    <tr>
        <td>Q3 2018</td>
        <td>Improved user interface and price charts</td>
    </tr>
    <tr>
        <td>Q4 2018</td>
        <td>Multi-language web UI (e.g. Simplified Chinese)</td>
    </tr>
    <tr>
        <td>tbc</td>
        <td>If no-one else has done so, launch our own Bitcoin-backed ERC20 token (1:1 with Bitcoin)</td>
    </tr>
    <tr>
        <td>tbc</td>
        <td>Host AMIS Exchange front-end in Swarm/IPFS for total unstoppability</td>
    </tr>
    <tr>
        <td>tbc</td>
        <td>Solidity SDK for writing smart contracts that trade on AMIS Exchange - e.g. for maintaining a pool of reserves, running crowdsales</td>
    </tr>
  </tbody>
</table>
<p>Follow the link for a more detailed roadmap <a href="https://amisolution.github.io/ERC20-AMIS/amisforum/live/#roadmap">"AMIS Forum Live" Roadmap</a>
<p>Perhaps you have some ideas for smart tokens that can be traded on our exchange, or for autonomous smart contracts that place orders into the exchange - we look forward to seeing what can be done with a fully on-chain trading venue.</p>

<!--
<h2 id="are-you-planning-any-sort-of-ico--crowdsale">Are you planning any sort of ICO / crowdsale?</h2>
<p>We are considering using crowdfunding to accelerate our product development (and improve our design and marketing).</p>
<p>We want to be sure we have a working product and a solid business model first.</p>
<p>In preparation for any future crowdfunding, we've created the <a href="https://etherscan.io/token/">"Orange" (ORA)</a> - our exchange contract allows ORA Tokens to be used instead of ETH to pay fees.</p>
<p>Email info@amisolution.net if you’d like to hear about early opportunities to back us, or if you'd like to get involved with any crowdfunding.</p>
-->
<h2>Give me some technical details!</h2>
<p>Take a look at our BookERC20EthV1p1 smart contract here: <a href="https://ropsten.etherscan.io/address/0xb64d5d9242dd2d506d50f1505fc61b140b8be61e#code">BookERC20EthV1p1.sol</a>.</p>
<p>Take a look at our BookERC20EthV1 smart contract here:<a href="https://kovan.etherscan.io/address/0x6cbb213c74b38578a6ee866a5a9864912fbc2e0e#code">BookERC20EthV1.sol</a>.</p>
<p>Our live contract OnChainOrderBookV012b is here: <a href="https://etherscan.io/address/0x2cc69caaaaa6114ddf48f4ddb2adb9c5d5d3e048#code">OnChainOrderBookV012b.sol</a>.</p>
<p>We’re publishing details of how our contracts work on our blog - see our <a href="/2017-08-24-maintain-order-book-blockchain-bitmap/">first technical post</a>.

<h2>I have a question not listed here!</h2>
<p>Sure, join our lobby in <a href="https://gitter.im/AMIS-DELTA-DEX/Lobby/" target="_blank">Gitchat</a>, slack <a href="https://amisolution.slack.com/" target="_blank"></a>, post to our <a href="https://www.reddit.com/r/amis_erc20/" target="_blank">subreddit</a>, or raise an issue in our <a href="https://github.com/amis-erc20/amisdex/">github repo</a>.</p>
<p>If it's not on this website it's probably not from us.</p>

<!-- Email Signup -->
